<div class="sections">
    <h2 class="section-title">API - /api/v1</h2>

    <div class="list-card">
        <span class="exp">Name*</span>
        <div>
            <h3>Object programming & frameworks</h3>
            <span>PHP, Symfony, Laravel, Silex, …</span>
        </div>
    </div>

    <div class="list-card">
        <span class="exp">Email</span>
        <div>
            <h3>Design integration</h3>
            <span>Style and tools, JS Frameworks</span>
        </div>
    </div>

    <div class="list-card">
        <span class="exp">Day span</span>
        <div>
            <h3>Linux</h3>
            <span>Scripting, Servers management and protocols, Automation</span>
        </div>
    </div>
</div>