<div class="sections">
    <h2 class="section-title">Create new storage</h2>

    <form action="/" method="post">
        <div class="list-card">
            <span class="exp">Name*</span>
            <div>
                <fieldset>
                    <input placeholder="unique storage name" type="text" name="name" tabindex="1" required autofocus>
                </fieldset>
            </div>
        </div>

        <div class="list-card">
            <span class="exp">Email</span>
            <div>
                <fieldset>
                    <input placeholder="send credentials to" type="email" name="email" tabindex="2">
                </fieldset>
            </div>
        </div>

        <div class="list-card">
            <span class="exp">Day span</span>
            <div>
                <fieldset>
                    <input placeholder="will be purged after" type="number" name="tokenDayout" tabindex="2">
                </fieldset>
            </div>
        </div>

        <div class="list-card">
            <fieldset>
                <button class="sub-title" type="submit" data-submit="Create">Create</button>
            </fieldset>
        </div>
    </form>
</div>