<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>

    <div class="container">
        <div class="header">
            <h1 class="title"><strong>404</strong> Not found</h1>
            <span class="sub-title">B</span>
            <span class="desc">the page not exists</span>
        </div>
    </div>

</body>

</html>